<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>

    <link rel="stylesheet" href="/static/css/SearchTree.css">
    <script src="/static/js/SearchTree.js" type="text/javascript"></script>

</head>

<body>
    <div class="exclaim">Tree Select</div>
    <div class="container-tree">
        <div class="tree_main">
            <input placeholder="Search..." id="filterInput" type="textarea" class="search-bar" />
            <ul id="bs_main" class="main_ul">
                <li id="bs_1">
                    <span name="country" class="plus minus"></span>
                    <input id="c_bs_1" type="checkbox">
                    <span name="country">Viet Nam</span>
                    <ul id="ulCity" style="display: block" class="sub_ul">

                    </ul>
                </li>
            </ul>
        </div>
    </div>

</body>

</html>